/*
 *	Dark Green: #009933;
 *	Dark Gray: #54544F;
 *	
 *	Light Green: #33cc33;
 *	Light Gray: #8F8E87;
 */
.marginz {
	margin: 20px;
}
.marginz-bottom {
	margin-bottom: 20px;
}
.marginz-top {
	margin-top: 20px;
}
.big-button {
	font-size: 25px;
}
a > button > .big-button {
	color: #333;
}
a:hover > button {
	background-color: #00862D;
}
a:hover > button > .big-button {
	color: #222;
}
.title-box {
	border-radius: 18px;
	height: 40px;
	margin-bottom: 10px;
}
.aboutus-text {
	font-size: 20px;
	color: #9D9D9D;
}
.black-quote {
	color: #333;
	font-size: 30px;
	font-style: times-new-roman;
}
.join-pic > div {
	margin-bottom: 25px;
}
.nav-spacer {
	height: 70px;
	overflow: auto;
}
.nav-footer > li > a {
	color: #9D9D9D;
	padding: 3px 15px;
}
.nav-footer > li > a:hover {
	color: #000;
	text-decoration: bold;
}
footer {
	color: #9D9D9D;
}
footer > div {
	padding: 15px;
	background-color: #222;
}


.text-center {
	text-align: center;
}

.center {}
@media (min-width: 768px) {
	.center {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 992px) {
	.center {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 1200px) {
	.center {
		margin-left: auto;
		margin-right: auto;
	}
}